<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Предобработка-данных" data-toc-modified-id="Предобработка-данных-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Предобработка данных</a></span><ul class="toc-item"><li><span><a href="#Удаление-пропусков" data-toc-modified-id="Удаление-пропусков-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Удаление пропусков</a></span></li><li><span><a href="#Обработка-аномальных-значений" data-toc-modified-id="Обработка-аномальных-значений-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Обработка аномальных значений</a></span></li><li><span><a href="#Удаление-пропусков-(продолжение)" data-toc-modified-id="Удаление-пропусков-(продолжение)-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Удаление пропусков (продолжение)</a></span></li><li><span><a href="#Изменение-типов-данных" data-toc-modified-id="Изменение-типов-данных-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Изменение типов данных</a></span></li><li><span><a href="#Обработка-дубликатов" data-toc-modified-id="Обработка-дубликатов-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Обработка дубликатов</a></span></li><li><span><a href="#Категоризация-данных" data-toc-modified-id="Категоризация-данных-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Категоризация данных</a></span></li><li><span><a href="#Шаг-3.-Исследуйте-данные-и-ответьте-на-вопросы" data-toc-modified-id="Шаг-3.-Исследуйте-данные-и-ответьте-на-вопросы-1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>Шаг 3. Исследуйте данные и ответьте на вопросы</a></span></li><li><span><a href="#Шаг-4:-общий-вывод." data-toc-modified-id="Шаг-4:-общий-вывод.-1.8"><span class="toc-item-num">1.8&nbsp;&nbsp;</span>Шаг 4: общий вывод.</a></span></li></ul></li></ul></div>

# Исследование надежности заемщиков

In [33]:
import pandas as pd

data = pd.read_csv("C:/Users/Admin/Desktop/начинающий специалист!!/Яндекс.Практикум/Спринт 2/.ipynb_checkpoints/data.csv")

In [3]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

In [5]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

In [6]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

In [8]:
data['days_employed'] = data['days_employed'].abs()

In [9]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

In [10]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

In [11]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

In [12]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

### Удаление пропусков (продолжение)

In [14]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

In [15]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

In [16]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

In [17]:
data['education'] = data['education'].str.lower()

In [18]:
data.duplicated().sum()

71

In [19]:
data = data.drop_duplicates()

### Категоризация данных

Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме data столбец total_income_category с категориями:

    0–30000 — 'E';
    30001–50000 — 'D';
    50001–200000 — 'C';
    200001–1000000 — 'B';
    1000001 и выше — 'A'.

Например, кредитополучателю с доходом 25000 нужно назначить категорию 'E', а клиенту, получающему 235000, — 'B'. Используйте собственную функцию с именем categorize_income() и метод apply().

In [20]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [21]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

In [22]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

In [23]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [24]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

In [27]:
data_pivot_children = data.pivot_table(index='children', values='debt', aggfunc={'mean', 'count'})
# воспользуемся сводной таблицей, посмотрим среднее значение и количество значений в каждой группе 
data_pivot_children
# чем число ближе к единице, тем больше шанс, что человек, принадлежащий к этой группе, не вернет кредит в срок

            count      mean
children
0         14091.0  0.075438
1          4808.0  0.092346
2          2052.0  0.094542
3           330.0  0.081818
4            41.0  0.097561
5             9.0  0.000000

**Вывод:**  Целесообразно рассмотреть первые три категории, так как количество заемщиков в них больше и может быть сравнимо между собой. Так, можно наблюдать, что заемщики без детей более склонны возвращать кредит в срок, чем заемщики с детьми. А те, у кого только один ребенок реже склонны к просрочке кредита, чем люди с двумя детьми. Итак, заметна связь: чем больше у человека детей, тем он более вероятно не вернет кредит вовремя

In [28]:
# воспользуемся другими методами
data_grouped_purpose = data.groupby('family_status')['debt'].agg(['mean', 'count'])
print(data_grouped_purpose.sort_values(by='mean', ascending=False))

                           mean  count
family_status
Не женат / не замужем  0.097639   2796
гражданский брак       0.093130   4134
женат / замужем        0.075606  12261
в разводе              0.070648   1189
вдовец / вдова         0.066246    951

**Вывод:** У нас получились две группы, между которыми заметен сильный отрыв: первая (Не женат / не замужем, гражданский брак) и вторая (женат / замужем, в разводе, вдовец / вдова). Таким образом, люди, которые никогда прежде не были замужем/женаты, чаще не возвращают кредиты в срок, чем те, кто был или находится в браке.

In [29]:
data_pivot_income_category = data.pivot_table(index='total_income_category', values='debt', aggfunc={'mean', 'count'})
# воспользуемся сводной таблицей, посмотрим среднее значение и количество значений в каждой группе 
data_pivot_income_category.sort_values(by = 'count', ascending=False)

                         count      mean
total_income_category
C                      15921.0  0.084982
B                       5014.0  0.070602
D                        349.0  0.060172
A                         25.0  0.080000
E                         22.0  0.090909

**Вывод:** Сравним заемщиков в категориях С и B. Те, чей доход находится в диапазоне от 50.000 до 200.000 реже возвращают кредит в срок, чем те, чей доход соствляет более 200.000. Так, чем выше доход - тем более вероятно, что заемщик вернет кредит в срок.

In [31]:
data_grouped_purpose = data.groupby('purpose_category')['debt'].agg(['mean', 'count'])
print(data_grouped_purpose.sort_values(by='mean', ascending=False))

                              mean  count
purpose_category
операции с автомобилем    0.093480   4279
получение образования     0.092528   3988
проведение свадьбы        0.079118   2313
операции с недвижимостью  0.072551  10751

**Вывод:** Те, кто берет кредит для покупки автомобиля или оплаты образования чаще не возвращают кредит в срок, в отличие от тех, чьей целью является проведение свадьбы или покупка жилья.

*Ответ:* Пропуски встречались в колонках 'days_employed' и 'total_income'. Вероятно, это могло случиться из-за того, что в датафрейме есть категории людей, которые не работают на данный момент или в целом никогда не работали (студент, в декрете, безработный). Также не отрицаем человеческий фактор или технические ошибки.

*Ответ:* Иногда в данных может встречаться аномально высокое или низкое значение, из-за чего, если использовать среднее, можно получить неверное представление о совокупности. Благодаря медиане можно избежать таких ошибок.

### Шаг 4: общий вывод.

Был проведен анализ надежности заемщиков. Для него была выполнена предобработка данных (удаление неуникальных строк, заполнение пропусков и формирование новых столбцов). Как итог, получены следующие результаты:
1. Наличие детей негативно отражается на возврате кредита в срок
2. Те, кто находится или находился в браке, более вероятно вернут кредит в срок
3. Заемщики, у которых выше уровень дохода, более склонны к возврату кредита вовремя
4. Чаще не возвращают вовремя кредит те, чьей целью было приобретение автомобиля или получение образование, и, наоборот, если цель кредита - свадьба или недвижимость, скорее человек вернет кредит в срок.

В дальнейшем можно оптимизировать сбор данных: в колонке purpose сделать варианты ответа (свадьба, недвижимость, автомобиль, образование или другое) вместо открытого вопроса.